@import "~bootstrap/dist/css/bootstrap.min.css";

.overflow-ellipsis {
    clear: both;
    position: relative;
    overflow: hidden;
    max-height: 9.3em;
    text-align: justify;
}

.overflow-ellipsis:after {
    position: absolute;
    bottom: 0.3em;
    right: 0;
    width: 5em;
    padding-left: 0.5em;
    content: '-';
    color: transparent;
    background-image: linear-gradient(to right, transparent, white);
}
